spring:
  application:
    name: simple-social-app
  datasource:
    url: jdbc:postgresql://localhost:5555/postgres
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        order_inserts: true

httpBinUrl: http://httpbin.org